@use '../../styles/mixins' as *;

.canvas-wrapper {
  @include abs-fill;
  overflow: hidden;
  pointer-events: none;
}

.canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  will-change: width, height;
}

canvas {
  @include surface-panel;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: var(--opi-shadow-lg);
}
