@use '../../../shared/styles/mixins' as *;

.fx-shell {
  @include fullscreen-shell;
  @include flex-column(0, stretch);
  overflow: hidden;
}

.workspace-content {
  flex: 1;
  @include flex-column(0, stretch);
  overflow: hidden;
  position: relative;
  width: 100%;
  background: var(--opi-bg);
}
