@use '../../../../../shared/styles/mixins' as *;

.export-shell {
  @include grid-layout(12, 0);
  @include fullscreen-shell;
}

.preview-area {
  grid-column: span 9;
  position: relative;
  overflow: hidden;
  @include flex-center;
  background: var(--opi-surface);

  .cloud-glow {
    @include abs-fill;
    @include cloud-glow-effect;
  }
}

.sidebar-area {
  grid-column: span 3;
}
