<div
  class="canvas-wrapper"
  #wrapperRef
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp()"
  (mouseleave)="onMouseUp()"
  (wheel)="onWheel($event)"
>
  <div
    class="canvas-container"
    [style.width]="containerStyle().width"
    [style.height]="containerStyle().height"
    [style.transform]="transformStyle()"
  >
    <canvas
      #mainCanvas
      [class.is-panning]="isDragging()"
    ></canvas>
    <ng-content></ng-content>
  </div>
</div>
