@use './app/shared/styles/mixins' as *;
@use './app/shared/styles/variables' as *;
@use './app/shared/styles/reset' as *;

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  background-color: var(--fx-bg);
  color: var(--fx-text);
  font-family: var(--fx-font-sans);
  font-size: 16px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--fx-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--fx-border-hover);
  border-radius: var(--fx-radius);
}

img,
canvas {
  display: block;
  max-width: 100%;
}
