@use '../../../../../../shared/styles/mixins' as *;

.canvas-wrapper {
  @include abs-fill;
  @include flex-center;
  overflow: hidden;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

canvas {
  @include industrial-panel;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  transform-origin: center center;
  transition: transform 0.1s cubic-bezier(0.2, 0, 0, 1);
  will-change: transform;
}
